<!DOCTYPE html>
<html lang="en">
<head  th:replace="fragments :: html_head" />
<body>

<div class="container ">
    <div th:replace="fragments :: menu"></div>

    <div class="form">
        <form action="#" th:action="@{/laborant/addlaborant}" th:object="${laborant}" method="post">
            <p class="h1 text-center bg-warning text-dark">LABORANT ADD</p>
            <div class="form-group">
                <label for="name">Patient Name</label>
                <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label for="surname">Patient Surname</label>
                <input th:field="*{surname}" type="text" class="form-control" id="surname" placeholder="Enter Surname">
            </div>
            <div class="form-group">
                <label for="hospitalNumber">laborant Hospital Number</label>
                <input th:field="*{hospitalNumber}" type="text" maxlength="7" class="form-control" id="hospitalNumber" placeholder="Enter Name">
            </div>
            <button type="submit" class="btn btn-primary m-2">Add Patient</button>
        </form>

    </div>

    <div th:replace="fragments :: footer"></div>
</div>


</body>
</html>