<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments :: html_head" />
<body>

<div class="container ">
    <div th:replace="fragments :: menu"></div>


        <div class="form">
            <p class="h1 text-center bg-warning text-dark">REPORT ADD</p>
            <form action="#" th:action="@{/report/addreport}" th:object="${reportDto}" method="post">
                <div class="form-group">
                    <label for="illnesTitle">İllnes Title</label>
                    <input th:field="*{illnesTitle}" type="text" class="form-control" id="illnesTitle" placeholder="Enter illnes title">
                </div>
                <div class="form-group">
                    <label for="illnesDescription">İlnes Description</label>
                    <textarea th:field="*{illnesDescription}" class="form-control" id="illnesDescription" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="date">Report Date</label>
                    <input th:field="*{date}" type="date" class="form-control" id="date" placeholder="Enter Date">
                </div>
                <div class="form-group">
                    <label for="imgUrl">İmage Url</label>
                    <input th:field="*{imgUrl}" type="text" class="form-control" id="imgUrl" placeholder="Enter İmage Url">
                </div>
                <div class="form-group">
                    <label for="laborantId">Laborant Number</label>
                    <input th:field="*{laborantId}" type="number" class="form-control" id="laborantId" placeholder="Enter laborant number">
                </div>
                <div class="form-group">
                    <label for="patientId">Patient Number</label>
                    <input th:field="*{patientId}" type="number" class="form-control" id="patientId" placeholder="Enter patient number">
                </div>
                <button type="submit" class="btn btn-primary m-2">Add Patient</button>
            </form>
        </div>



    <div th:replace="fragments :: footer"></div>
</div>


</body>
</html>